absl-py==0.11.0
appdirs==1.4.4
arrow==0.17.0
atpublic==2.1.1
binaryornot==0.4.4
cachetools==4.1.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
configobj==5.0.6
cookiecutter==1.7.2
dataclasses==0.8
decorator==4.4.2
dictdiffer==0.8.1
distro==1.5.0
dpath==2.0.1
dulwich==0.20.11
dvc==1.10.0
filelock==3.0.12
flake8==3.8.4
flatten-dict==0.3.0
flufl.lock==3.2
fsspec==0.8.4
ftfy==5.8
funcy==1.15
future==0.18.2
gitdb==4.0.5
GitPython==3.1.11
google-auth==1.23.0
google-auth-oauthlib==0.4.2
grandalf==0.6
grpcio==1.33.2
idna==2.10
importlib-metadata==2.0.0
Jinja2==2.11.2
jinja2-time==0.2.0
joblib==0.17.0
jsonpath-ng==1.5.2
mailchecker==3.3.17
Markdown==3.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
nanotime==0.5.2
networkx==2.4
numpy==1.19.4
oauthlib==3.1.0
packaging==20.4
pathlib2==2.3.5
pathspec==0.8.1
phonenumbers==8.12.13
Pillow==8.0.1
ply==3.11
poyo==0.5.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pydot==1.4.1
pyflakes==2.2.0
Pygments==2.7.2
pygtrie==2.3.2
pyparsing==2.4.7
python-benedict==0.22.0
python-dateutil==2.8.1
python-slugify==4.0.1
pytorch-lightning==1.0.7
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.0
requests-oauthlib==1.3.0
rich==9.2.0
rsa==4.6
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
sacremoses==0.0.43
sentencepiece==0.1.91
shortuuid==1.0.1
shtab==1.3.2
six==1.15.0
smmap==3.0.4
tabulate==0.8.7
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
text-unidecode==1.3
tokenizers==0.9.3
toml==0.10.2
torch==1.7.0
torchvision==0.8.1
tqdm==4.52.0
transformers==3.5.1
typing-extensions==3.7.4.3
urllib3==1.26.2
voluptuous==0.12.0
wcwidth==0.2.5
Werkzeug==1.0.1
xmltodict==0.12.0
zc.lockfile==2.0
zipp==3.4.0
